src/main/mule/implementation/getAllTransactionByDateRange.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="getAllTransactionByDateRangeFlow" doc:id="503fba38-b9e1-4973-b68a-4a4b7fd85bbc" >
		<ee:transform doc:name="Transform Message" doc:id="a38aeeaa-c68d-4b09-b6db-d5f7031596ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"AccountNumber":  attributes.queryParams.AccountNumber,
	"EffectiveDate" : attributes.queryParams.EffectiveDate,
	"PostDate" : attributes.queryParams.PostDate
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents doc:name="get all Records by DateRange" doc:id="9a248f7d-261a-4b7f-9738-312add21d243" config-ref="MongoDB_Config" collectionName="Employee" fields="Id,AccountNumber,LastTranDate,TransactionAmount,SourceCode,EffectiveDate,PostDate">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="38318971-bba8-49e4-905a-f12a0f7c772d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
