src/main/mule/implementation/getAllTransactionBySourceCode.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	<flow name="getAllTransactionBySourceCodeFlow" doc:id="9c4c868a-f19b-4322-b912-da886438060e" >
		<ee:transform doc:name="Transform Message" doc:id="d3343bfd-05af-4afc-987f-45b50a9e46e6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"AccountNumber": attributes.queryParams.AccountNumber,
	"SourceCode": attributes.queryParams.SourceCode
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<mongo:find-documents doc:name="get records by SourceCode" doc:id="e18ba841-e806-4d33-8c6e-217eac641ea3" config-ref="MongoDB_Config" collectionName="Employee" fields="Id,AccountNumber,LastTranDate,TransactionAmount,SourceCode,EffectiveDate,PostDate">
			<mongo:query ><![CDATA[#[payload]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="df16248f-d5c7-40d9-9d99-bad919c0fe1c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
