src/main/mule/implementation/getTransactionByID.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
	
	<mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="92447759-8ae3-41f8-8dee-98d7ab46fa7f" >
		<mongo:connection-string-connection connectionString="mongodb+srv://sonalpatidar17:55XcVYuZ4bXn1v4F@cluster0.tv4cwup.mongodb.net/myDatabase?retryWrites=true&amp;w=majority" />
	</mongo:config>
	<flow name="getTransactionByIDFlow" doc:id="d6373bbc-6e3b-4fd7-95a3-6152d027d8d5" >
		<ee:transform doc:name="Transform Message" doc:id="0d176326-806e-48da-892a-9e9b6b14bd23">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Id" ><![CDATA[%dw 2.0
output application/json
---
{
	"Id" : attributes.uriParams.'Id'
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<mongo:find-documents doc:name="get single Records by ID" doc:id="17b299c2-5975-4b2e-a888-93bf52f91883" config-ref="MongoDB_Config" collectionName="Employee" fields="Id,AccountNumber,LastTranDate,TransactionAmount">
			<mongo:query ><![CDATA[#[vars.Id]]]></mongo:query>
		</mongo:find-documents>
		<ee:transform doc:name="Transform Message" doc:id="5ca37b5b-bfe6-468f-89db-db83850647d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
